@import './config/_variables.scss';

.Layout {
  color: $color3;

  header {
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: $color2;
    z-index: 990;

    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $color1;
    .search-icon {
      svg {
        font-size: 20px;
      }
      cursor: pointer;
    }
    .logo {
      font-size: 35px;
      color: $color3;
      cursor: pointer;
    }
    .signIn-button {
      height: 30px;
      width: 70px;
      border-radius: 7%;
      border-style: none;
      font-size: 15px;
      color: $color1;
      background-color: $color3;
      cursor: pointer;
    }
  }

  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }

  .toggle-menu {
    height: 60px;
    background-color: $color2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .children {
    height: 100vh;
    margin-top: 60px;
  }

  footer {
    height: 60px;
    padding: 8px;
    background-color: $color2;
    .connect {
      display: flex;
      flex-direction: column;

      .icons {
        padding-top: 8px;
        a {
          svg {
            font-size: 30px;
            color: $color3;
            cursor: pointer;
          }
        }
      }
    }
  }
}
