.Layout {
  height: 60px;
  background-color: #cbd0d8;
  color: #333d51;
  .site-header {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-icon {
      svg {
        font-size: 20px;
      }
      cursor: pointer;
    }
    .logo {
      font-size: 35px;
      color: #333d51;
      cursor: pointer;
    }
    .signIn-button {
      height: 30px;
      width: 70px;
      border-radius: 7%;
      border-style: none;
      font-size: 15px;
      color: #f4f3ea;
      background-color: #d3ac2b;
      cursor: pointer;
    }
  }
}
